In [1]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [7]:
titles = pd.read_csv('C:/Users/Hemanth/Documents/letsupgrade/Notes/Day-16,17/Assingment/Dataset for Pandas Assinment/cast.csv')
titles.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
len(titles)

3786176

### What are the earliest two films listed in the titles dataframe?

In [11]:
titles.sort_values('year').head(2)

,title,year,name,type,character,n
2612704,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
482247,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN

### How many movies have the title "Hamlet"?

In [12]:
len(titles[titles.title=='Hamlet'])

342

### How many movies are titled "North by Northwest"?

In [13]:

len(titles[titles.title=='North by Northwest'])

116

### When was the first movie titled "Hamlet" made?

In [14]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

          title  year               name   type character   n
1602320  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [15]:
titles[titles.title=='Treasure Island'].sort_values('year')

,title,year,name,type,character,n
860800,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
871803,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
942632,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3450730,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1778878,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
2511526,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1698413,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1426457,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
3340561,Treasure Island,1999,Suzy Nakamura,actress,Yo-Ji,5.0
319551,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [18]:
len(titles[titles.year==1950])

22397

### How many movies were made in the year 1960?

In [19]:
len(titles[titles.year==1960])

19164

### How many movies were made from 1950 through 1959?

In [21]:
len(titles[(titles.year>=1950) & (titles.year<=1959) ])

215471

### In what years has a movie titled "Batman" been released?

In [23]:
titles[titles.title=='Batman'].sort_values('year')

          title  year               name     type            character     n
99564    Batman  1943       Frank Austin    actor          Hotel Clerk   NaN
1630712  Batman  1943    J. Carrol Naish    actor             Dr. Daka   3.0
1543957  Batman  1943      Harold Miller    actor    Restaurant Patron   NaN
1535655  Batman  1943  Charles Middleton    actor  Ken Colton [Ch. 6-8   NaN
1425465  Batman  1943       Knox Manning    actor             Narrator   NaN
...         ...   ...                ...      ...                  ...   ...
1533741  Batman  1989     Wayne Michaels    actor          Napier Hood  33.0
1532950  Batman  1989       Paul Michael    actor                  Cop  56.0
1531346  Batman  1989      Adrian Meyers    actor   Jimmy, Tourist Son  47.0
1487725  Batman  1989       Mac McDonald    actor                 Goon  15.0
3513305  Batman  1989        Rachel Ryan  actress               Corpse   NaN

[123 rows x 6 columns]

### How many roles were there in the movie "Inception"?

In [33]:
(titles[titles.title=='Inception'].sort_values('year'))

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2238386,Inception,2010,Affan Tareen,actor,Denison,NaN
...,...,...,...,...,...,...
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
836295,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
1095095,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [26]:
len(titles.title=='Inception')

3786176

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [29]:
t=titles[titles.title=='Inception'].sort_values('year')
t.isna().sum().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [34]:
len(t.dropna())

51

In [38]:
t.dropna()

,title,year,name,type,character,n
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
1876301,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1861317,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1826027,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1701902,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1668790,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
2614557,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2765969,Inception,2010,Marion Cotillard,actress,Mal,9.0
2776554,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3359825,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3343512,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3225843,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3158892,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2932664,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2932657,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2807441,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
3151982,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
1618527,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1615709,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1455534,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
709436,Inception,2010,Russ Fega,actor,Cab Driver,23.0
590576,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
517227,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
737322,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
444385,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
333415,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
326745,Inception,2010,Michael Caine,actor,Miles,11.0
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
433867,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
832083,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
1309851,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1170785,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
812135,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
967176,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
940923,Inception,2010,Tom Hardy,actor,Eames,4.0
910757,Inception,2010,Lukas Haas,actor,Nash,12.0
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [39]:
a=titles[titles.title=='North by Northwest'].sort_values('year')
t1=a.dropna()

In [41]:
t1[t1.title=='North by Northwest'].sort_values('n')

16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [43]:
b=titles[(titles.title=='Sleuth') & (titles.year==1972)].sort_values('n')

In [44]:
b.dropna()

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [45]:
b=titles[(titles.title=='Sleuth') & (titles.year==2007)].sort_values('n')

In [46]:
b.dropna()

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [50]:
len(titles[(titles.title=='Hamlet') & (titles.year==1921) ])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [51]:
len(titles[(titles.title=='Hamlet') & (titles.year==1996) ])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [52]:
len(titles[titles.title=='Hamlet'].sort_values('year'))

342

### How many people have played an "Ophelia"?

In [54]:
len(titles[titles.character=='Ophelia'].sort_values('year'))

117

### How many people have played a role called "The Dude"?

In [55]:
len(titles[titles.character=='The Dude'].sort_values('year'))

19

### How many people have played a role called "The Stranger"?

In [56]:
len(titles[titles.character=='The Stranger'].sort_values('year'))

212

### How many roles has Sidney Poitier played throughout his career?

In [58]:
len(titles[titles.name=='Sidney Poitier'].sort_values('year'))

43

### How many roles has Judi Dench played?

In [61]:
len(titles[titles.name=='Judi Dench'].sort_values('year'))

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [62]:
titles[(titles.name=='Cary Grant') & (titles.n==2) & (titles.year==1940)].sort_values('year')

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [63]:
titles[(titles.name=='Cary Grant') & (titles.year==1940)].sort_values('year')

,title,year,name,type,character,n
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [67]:
len(titles[(titles.year==1950)& (titles.type=="actor")])

16760

### How many roles were available for actresses in the 1950s?

In [70]:
len(titles[(titles.year==1950)& (titles.type=="actress")])

5637

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [72]:
len(titles[(titles.n==1) & (titles.year<=1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [73]:
c=titles[titles.year<=1980]

In [75]:
len(c.dropna())

734460

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [77]:
c=titles[titles.year>=1980]

In [78]:
len(c.dropna())

1612149